@font-face {
  font-family: "NanitoSans";
  src: local("NanitoSans-Black"), local("NanitoSans-Black"),
    url("NanitoSans-Black.ttf") format("ttf"),
    url("nanitosans-black.woff") format("woff"),
    url("nanitosans-black.woff2") format("woff2");
}

.StudentPage {
  font-family: "NanitoSans", sans-serif;
}

.Avatar {
  width: 390px;
}
.Avatar img {
  display: block;
  margin: auto;
  margin-top: 10px;
}
.Avatar img {
  width: 163px;
  height: 163px;
}

.FIO {
  margin-top: 20px;
}

.FIO p {
  color: rgba(0, 0, 0, 0.85);
  font-family: "NanitoSans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: -20px;
}

.StudentID {
  color: rgba(0, 0, 255, 0.6);
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: -20px;
}

.PersonalInformation p {
  display: flex;
  justify-content: flex-start;
}

.PersonalInfomation{
  color: rgb(113, 113, 113);
  font-family: "NanitoSans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: -20px;
  margin-left: 10px;
}

.Dropdown img{
  
  width: 336px;
  height: 68px;
  left: 16px;
  right: -16px;
  top: 370px;
  bottom: -370px;
}
