@font-face {
  font-family: "NanitoSans";
  src: local("NanitoSans-Black"),
    local("NanitoSans-Black"),
    url("NanitoSans-Black.ttf") format("ttf"),
    url("nanitosans-black.woff") format("woff"),
    url("nanitosans-black.woff2") format("woff2"),
  
}

.main {
  font-family: "NanitoSans", sans-serif;
}

.footer {
  width: 328px;
  height: 71px;
  margin-left: 31px !important;
  margin-right: 31px;
  position: fixed;
  bottom: 15px;
  -webkit-backdrop-filter:blur(1px) !important;
  backdrop-filter: blur(1px) !important;
  background-color: rgba(229, 229, 229, 0.6);
  border-radius: 16px;
}


.main {
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: black !important;
}

.wrapper {
  min-height: 100%;
}


